;; this should be changed for this book

[
 "about_this_book"
 "getting_this_book"
 "setting_things_up"
 "sampling"
 "fast_math"
 "basic_statistics"
 "visualization"
 "charts"
 "dice"
 "tabular_data"
 "web_scraping"
 "bibliography"
 ]
